.animation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-left {
  width: 14em;
	-webkit-animation: slide-left 1s ease-in-out both;
	animation: slide-left 1s ease-in-out both;
}

.animation-left-style {
  width: 8em;

}

.animation-right {
  position: absolute;    
  transform: translate(-3rem, -5rem);
}

.animation-right-up {
  position: absolute;    
  transform: translate(-3rem, -12rem);
}

.animation-left, .animation-right {
  display: inline-block;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 
  .animation-left {
    width: 20%;  
  }
  .animation-right {
    width: 60%;
    margin-left: 2%;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .animation-left {
    width: 8rem;
  }
}

.mover {
  animation: move 5s ease-in-out;
}

@keyframes move {
  from {
    outline: 5px solid blueviolet;
  }

  50% {
    opacity: 0;
    outline: 5px solid pink;
  }
  to  {
    transform: translate(-100px, 0);
    outline: 5px solid green;
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}
