body {
  color: #010101;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set the size of the div element that contains the map */
#map {
height: 400px;  /* The height is 400 pixels */
width: 100%;  /* The width is the width of the web page */
}

.footer a {
  color: white;
}

.menu-item-btn:focus-within {
  border-bottom: 5px solid #0072BC;
}

.menu-item-btn a:focus-within {
  color: #0072BC !important;
}

.sub-menu-active a {
  color: #0072BC !important;
}

.no-info {
  height: 50vh;
  display: flex;
  justify-content: center;
  margin-top: 9rem;
  color: #6b6d6e;
  font-style: italic;
  text-align: center;
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
}

.dropdown-toggle::after {
  display: none;
}

input:-moz-read-only { /* For Firefox */
  background-color: white !important;
}

input:read-only {
  background-color: white !important;
}

.form-group {
  display: flex;
  width: 75%;
}

.form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: white;
  border-left-style: none;
}

.label-input {
  border: 1px solid #ced4da;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-right-color: white;
  border-right-style: none;
  border-right-width: 0;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.label-input img {
  width: 1.8rem;
}

ul {
  list-style: none;
  padding: 0;
}

.cursor {
  cursor: pointer;
}

.img-hidden {
  visibility: hidden;
}

.hidden {
  display: none;
}

.show-up {
  display: inline-block;
}

.menu-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.static {
  padding-top: 2rem;
  background-color: white;
}

.static__box {
  display: inline-block;
}

.static__box--logo-small {
  width: 4em;
  display: inline-block;
}

.static__box--text {
  font-weight: bold;
  font-size: 1.3rem;
}

.static__box--text span {
  display: block;
  font-size: 1.7rem;
}

.static__box--logo-big {
  display: inline-block;
}

.static__box--text {
  font-weight: bold;
}



.blog-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.blog__list li {
  cursor: pointer;
  line-height: 2;
  font-weight: 600;
  font-style: italic;
  font-size: 1.6rem;
  margin-right: 15px;
}

.blog__list li:hover {
  color: #36aee5;
}

.blog-quote-img {
  margin-bottom: 3rem;
}

.page-link {
  background-color: #98a8b5;
  border: 1px solid #484e54;
  color: #484e54;
  padding: 1rem 1.5rem !important;
}

.page-link:focus {
  box-shadow: none;
}

.page-link:active {
  background-color: #484e54;
  color: white;
}

.modal {
  background-color: #98a8b5;
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  border: none;
  border-radius: 17px !important;
}

.modal-body {
  padding: 0 4rem;
}

.subtitle-modal {
  color: #0072BC;
  font-style: italic;
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: lowercase;
}

.subtitle-modal::first-letter {
  text-transform: capitalize;
}

.navigation {
  padding-left: 4rem;
  padding-right: 3rem;
  text-align: center;
}

.navigation__item {
  background-color: #98a8b5;
  border: 1px solid #4c4c4c;
  display: unset;
  padding: 2rem 2.5rem;
}

.navigation__item a, .navigation__item span {
  font-size: 1.4rem;
  vertical-align: middle;
}

.navigation__item a {
  color: #4c4c4c;
}

.disabled-pagination {
  background-color: #7a8996;
}
.disabled-pagination a {
  color: #4c4c4c;
}

.contact__background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_info--whatsapp .icon {
  text-align: center;
}

.contact_info--whatsapp img {
  width: 5rem;
}

.contact_info--whatsapp-number {
  font-weight: 700;
  font-size: 1.3rem;
}

.contact_info--details {
  border: 1px solid #0072BC;
  background-color: white;
  border-radius: 25px;
  padding: 1rem;
  text-align: center;
}

.contact_info--details-box {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.contact_info--subtitle-text {
  color: #0072BC;
  font-style: italic;
  font-weight: 600;
} 

.contact_info--details-img {
  width: 2.4rem;
}

.contact_info--details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text--big {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.contact__button {
  background-color: #0072BC;
  color: white;
}

.contact-text--small {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.contact__map {
  width: 75%;
}

.footer {
  color: lightgrey;
  background-color: black;
  padding: 1em;
  text-align: center;
  font-size: 1.3rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {

  .mobile-label {
    padding-left: 2rem !important;
    margin-bottom: 1rem;
  }

  .carousel-mobile-menu {
    margin: 1.5rem;
  }

  .navbar-dark .navbar-toggler {
    border-color: transparent;
  }

  .only-desktop {
    display: none !important;
  }

  .testimonials__sub-label {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
    padding: 1.7rem 1.7rem 4rem;
  }

  .subtitle-modal {
    font-size: 2rem;  
  }

  .modal .only__text p {
    font-size: 0.9rem;
    text-align: left;
  }

  .modal-body {
    padding: 0 2rem;
  } 

  .modal {
    padding: 1rem;
  }

  .face-img{
    margin-top: 2rem;
  }

  .footer {
    padding: 1em;
    font-size: 1.1rem;
  }

  .blog__list::-webkit-scrollbar {
    width: 7px;
  }

  .static__box--logo-big {
    width: 100%;
  }

  .static {
    text-align: end;
    padding: 1rem;
  }

  .blog__list li {
    font-size: 0.9rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  .page-link {
    padding: 0.6rem 1rem !important;
  }

  .navigation {
    margin: 1rem 0 2rem 0;
  }
  

  .footer__icons {
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem;
  }

  .footer__icons span {
    color: #0072BC;
  }

  .footer__icons .flaticon-facebook:before, 
  .footer__icons .flaticon-linkedin:before, 
  .footer__icons .flaticon-instagram:before {
    font-size: 2.5rem;
  }

  .contact__background {
    background-color: #cbd2da;
  }

  .contact_info--details {
    width: 95%;
    margin-bottom: 5rem;
  }

  .contact_info--subtitle-text {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
  } 

  .contact-text--big {
    font-size: 1.1rem;
    color: #555555;
  }
  .contact-text--small {
    font-size: 0.9rem;
    color: #555555;
  }
  .label-input {
    background-color: white;
  }
  .form-group, .contact__map {
    width: 100%;
  }
  .contact__map {
    margin: 3rem 0;
  }
  .contact-button {
    justify-content: center;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {   
  .testimonials-label {
    margin-bottom: 0 !important;
  }

  section {
    margin-top: 7rem;
  }

  #carouselTestimonials {
    overflow: -webkit-paged-y;
  }

  #carouselTestimonials .carousel-inner {
    overflow: initial;
  }

  .testimonials__sub-label {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 600;
    padding: 3rem 7rem;
  }

  .blog__list {
    height: 500px;
    margin: 1rem 0 3rem 0;
    overflow: -webkit-paged-y;
    overflow-y: scroll;
  }
  
  .blog__list::-webkit-scrollbar {
    width: 12px;
  }
  
  .blog__list::-webkit-scrollbar-track {
    background-color: #cbd2da;
    border-radius: 10px;
  }
  
  .blog__list::-webkit-scrollbar-thumb {
    background-color: #36aee5;
    border-radius: 10px;
  }
  .only-mobile {
    display: none !important;
  } 

  .static__box--logo-big {
    width: 100%;
  }

  .static {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
  }

  .face-img {
    width: 42rem;
  }

  .contact__background {
    background-image: linear-gradient(180deg, #ffffff 43%, #cbd2da 20%);
    padding-bottom: 4rem;
    height: 720px;
  }

  .contact_info--details {
    width: 70%;
  }

  .contact_info--subtitle-text {
    font-size: 1.7rem;
  } 
}
