body {
  color: #010101;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
}

.cursor {
  cursor: pointer;
}

.img-hidden {
  visibility: hidden;
}

.menu-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.static {
  padding-top: 2rem;
  background-color: white;
}

.static__box {
  display: inline-block;
}

.static__box--logo-small {
  width: 3em;
  display: inline-block;
}

.static__box--logo-big {
  display: inline-block;
}

.static__box--text {
  font-weight: bold;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  .only-desktop {
    display: none !important;
  }

  .static__box--logo-big {
    width: 100%;
  }

  .static {
    text-align: end;
    padding: 1rem 2rem;
  }

  .introduction {
    margin-top: 2em;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {   
  .only-mobile {
    display: none !important;
  } 

  .static__box--logo-big {
    width: 70%;
  }

  .static {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
  }  

  .introduction {
    margin-top: 6em;
  }
}
