.slider__group-images {
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;
}

.slider__images {
  margin: 0 1rem;
  background-color: #e6f1f8;
  padding: 1.7em;
  border-radius: 11px;
  height: 600px;
}

.slider__images--title {
  color: #0072BC;
}

.slider__images--text, .slider__images--title  {
  font-style: italic;
  font-weight: 600;
}

.slider__images--text {
  text-align: justify;
  font-size: 1.7rem;
  letter-spacing: -1px;
}

.slider__images--title p {
  display: inline-block;
  font-size: 2.3rem;
}

.slider__images--title span {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.images--group {
  text-align: center;
}

.images--group p {
  text-align: center;
  color: #0072BC;
  font-size: 1.9rem;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1 !important;
  width: 2% !important;
  z-index: initial;
}

.carousel__menu--icon {
  width: 20px;
}

.carousel__menu--img {
  height: 290px !important;
  outline: 1px solid red;
}

.carousel__menu--img img {
  height: 100% !important;
}

.carousel-item {
  height: 290px;
}
.carousel-indicators li {
  background-color: transparent !important;
}

.carousel-caption {
  background-color: #5656562e;
  padding: 0.5rem 0 0rem !important;
}

.nav-bar__content li {
  border: none !important;
}

.carousel__menu--quotes {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;    
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  .caousel__menu--quotes {
    font-weight: normal;
  }
  
  .images--group p {
    font-style: italic;
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
  }

  .footer-small {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .carousel-control-prev {
    left: -7px !important;
    padding-bottom: 4rem;
    top: 4rem;
  }
  
  .carousel-control-next {
    padding-bottom: 4rem;
    right: 1rem !important;
    top: 4rem;
  }

  .slider__group-images {
    margin: 0 1rem;
  }

  .slider__images {
    height: 380px;
    margin-bottom: 3rem;
  }

  .slider__images--title p {
    font-size: 1.4rem;
  }

  .slider__images--title span {
    font-size: 1.1rem;
    margin-left: 0.2rem;
  }

  .slider__images--text {
    font-size: 1rem;
  }
  
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .footer-small {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  
  .images--group p {
    margin-top: 0.2rem;
    text-align: center;
  }

  .caousel__menu {
    display: none;
  }
}
