.slider__group-images {
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;
}

.slider__images {
  margin: 0 1rem;
  background-color: #e6f1f8;
  padding: 1.7em;
  border-radius: 11px;
  height: 600px;
}

.slider__images--title {
  color: #0072BC;
}

.slider__images--text, .slider__images--title  {
  font-style: italic;
  font-weight: 600;
}

.slider__images--text {
  text-align: justify;
  font-size: 1.7rem;
  letter-spacing: -1px;
}

.slider__images--title p {
  display: inline-block;
  font-size: 2.3rem;
}

.slider__images--title span {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.images--group {
  text-align: center;
}

.images--group p {
  text-align: center;
  color: #0072BC;
  font-size: 1.9rem;
}

.caousel__menu {
  margin-top: 2.5rem;
}

.carousel-control-prev {
  left: 15px !important;
}

.carousel-control-next {
  right: 15px !important;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1 !important;
  width: 2% !important;
}

.caousel__menu--img {
  height: 234px;
  padding: 0 2rem;
}

.carousel__menu--icon {
  width: 20px;
}

.caousel__menu--quotes {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top: 1rem;
  font-size: 1rem;    
  padding: 0 2rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  .images--group p {
    font-style: italic;
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
    margin: 0.5rem 0 5rem;
  }

  .footer-small {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .carousel-control-prev {
    left: -7px !important;
    padding-bottom: 4rem;
  }
  
  .carousel-control-next {
    padding-bottom: 4rem;
  }

  .slider__group-images {
    margin: 0 1rem;
  }

  .slider__images {
    height: 350px;
    margin-bottom: 3rem;
  }

  .slider__images--title p {
    font-size: 1.6rem;
  }

  .slider__images--title span {
    font-size: 1.3rem;
    margin-left: 0.2rem;
  }

  .slider__images--text {
    font-size: 1rem;
  }
  
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .footer-small {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  
  .images--group p {
    margin-top: 0.2rem;
    text-align: center;
  }

  .caousel__menu {
    display: none;
  }
}
