.nav-bar { 
  background-color: #0072BC;
  padding: 0;
}

.nav-bar button {
  margin: 0.5em;
} 

.nav-bar__content ul {
  margin-top: 1em;
}

.nav-bar__content li {
  border-top: 1px solid #eef1f3;
  border-bottom: 1px solid #eef1f3;
  font-weight: bold;
}

.nav-bar__content a { 
  padding-left: 1.5em;
  color: #353A3D !important;
  cursor: pointer;
}

.nav-bar__content .dropdown-item {
  padding-left: 5rem;
  font-weight: 700;
}

.nav-bar__icons {
  padding: 1rem 3rem;
}

.nav-bar__icons--img {
  display: inline-block;
  margin: 0 0.7rem;
}

.dropdown-menu {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

.menu {
  width: 100%;
  text-align: right;
}

.menu ul {
  margin-right: 2em;
  display: inline-block;
  vertical-align: top;
}

.menu li {
  cursor: pointer;
  border-bottom: 1px solid #353A3D;
  font-weight: bold;
  padding: 0 1.2rem;
  padding-bottom: 0.5em; 
  display: inline-block;
}

.menu li a {
  color: #353A3D;
  font-size: 1.4rem;
}

.menu .active {
  border-bottom: 5px solid #0072BC;
}

.menu .active a {
  color: #0072BC !important;
}

.menu li a:hover {
  color: #0072BC;
  text-decoration: none;
}

.menu li:last-child {
  padding-right: 0;
}

.menu li:hover {
  border-bottom: 5px solid #0072BC;
  color: #0072BC;
}

.no-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {

  .nav-bar__content {
    background-color: #FFFFFF;
    padding-bottom: 13rem;
  }

  .nav-bar__content li {
    padding: 0 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .dropdown-menu {
    border: 1px solid grey;
    top: 5px !important;
    left: -20px !important;
  }

  .dropdown-menu .dropdown-item {
    font-weight: 700;
    padding: 0.2rem 1.3rem;
  }

  .nav-bar__content {
    height: 4rem;
    visibility: hidden;
  }

  .nav-bar__content li {
    padding: 0.3rem;
  }
}
