.nav-bar { 
  background-color: #0072BC;
  padding: 0;
}

.nav-bar button {
  margin: 0.5em;
} 

.nav-bar__content ul {
  margin-top: 1em;
}

.nav-bar__content li {
  border-top: 1px solid #eef1f3;
  border-bottom: 1px solid #eef1f3;
  padding: 0.3rem;
  font-weight: bold;
}

.nav-bar__content a { 
  padding-left: 1.5em;
  color: #353A3D !important;
}

.menu {
  padding-right: 4em;
  text-align: right;
  display: flex;
}

.menu ul {
  margin-right: 2em;
}

.menu li {
  color: #353A3D;
  cursor: pointer;
  border-bottom: 1px solid #353A3D;
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-right: 1em;    
  display: inline-block;
}


.menu li:last-child {
  padding-right: 0;
}

.menu li:hover {
  border-bottom: 3px solid #0072BC;
  color: #0072BC;
}

@media (max-width: 575.98px) {
  .nav-bar__content {
    background-color: #FFFFFF;
  }
}

@media (min-width: 992px) {
  .nav-bar__content {
    height: 4rem;
    visibility: hidden;
  }
}
