.quotes { 
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top: 0.3rem;
  font-size: 1.8rem;
}

.title {
  display: inline-block;
  color: #0072BC;    
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.subtitle-text {
  color: #0072BC;
  font-style: italic;
  font-weight: 600;
  font-size: 2.3rem;
}

.spacing__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 3rem;
}

.spacing__text p {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  text-align: justify;
}

.only__text p {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1.5em;
  text-align: justify;
}

.label-name {
  background-color: #98A8B5;
  color: #FFFFFF;
  display: inline-block;
  padding-right: 0.8em;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  .title {
    font-style: italic; 
    font-weight: 600;  
    font-size: 1.4rem;
  }

  .label-name {
    font-size: 1.4rem;
    padding-left: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;    
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .spacing__text {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .spacing__text p {
    font-size: 1rem;
    margin-bottom: 1.5em;
  }

  .subtitle {
    color: #010101;    
    font-size: 1.2rem;
    font-style: italic;
  }

  .quotes { 
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }

  .subtitle-text {
    font-size: 1.7rem;
  }
  
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .label-name {
    font-size: 2.4rem;
    padding: 0.4rem 3rem 0.4rem 6rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-weight: 600;
  }

  .subtitle {
    color: #0072BC;    
    font-size: 1.5rem;
  }
}