.quotes { 
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.title {
  display: inline-block;
  color: #0072BC;    
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.subtitle-text {
  color: #0072BC;
  font-style: italic;
  font-weight: 500;
  font-size: 1.3rem;
}

.spacing__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 3rem;
}

.spacing__text p {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1.5em;
  text-align: justify;
}

.only__text p {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1.5em;
  text-align: justify;
}

.label-name {
  background-color: #98A8B5;
  color: #FFFFFF;
  display: inline-block;
  padding-right: 0.8em;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  .title {
    font-style: italic;   
  }

  .label-name {
    font-size: 1.7rem;
    padding-left: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .spacing__text p {
    font-size: 1rem;
    margin-bottom: 1.5em;
  }

  .subtitle {
    color: #010101;    
    font-size: 1.2rem;
    font-style: italic;
  }

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .label-name {
    font-size: 2rem;
    padding-left: 5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .subtitle {
    color: #0072BC;    
    font-size: 1.5rem;
  }
}